    <!-- Navbar content -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand font-effect-shadow-multiple" href="#" style="font-family: 'Sofia', sans-serif; font-size: 24px;">Kindu's coursera</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav nav-underlin">
        
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{url_for('dashboard')}}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{url_for('logout')}}" value="logout" onclick="return confirmLogout()" id="logout">logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_course')}}">Add Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_course')}}">Edit Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home_img')}}">Add home screen image</a>
          </li>
        
          {% else%}
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
          {% endif%}

      </ul>
        
        <form method="POST" action="{{url_for('search')}}" class="d-flex" role="search">
          {{ form.hidden_tag() }}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
          <button class="btn btn-darks" type="submit">Search</button>
        </form>
      </div>
    </div>
   
 

  <script>
    function showToast() {
      var toast = document.getElementById('toast');
      toast.style.display = 'block';
    }

    document.getElementById("logout").addEventListener("submit", function(event) {
      // Prevent form submission
      event.preventDefault();
    
      // Call confirmLogout function
      confirmLogout();
    });
    
  function confirmLogout() {
      if (confirm("Are you sure you want to logout?")) {
        // If user confirms, submit the logout form
        document.querySelector(".logout-form").submit();
      } else {
        // If user cancels, do nothing
        return false;
      }
    }
    
</script>  
  </nav>
 
