{% extends 'base.html' %}

{%block content%}
{% for message in get_flashed_messages()%}
<div class="alert {% if 'Deleted' in message %}alert-success{% elif 'Cannot find' in message %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}           

{% if course_name %}
            <table class="table table-white table-striped">
                <thead class="table-dark">
                    <center><b>COLLEGES OFFERING {{streams.stream_name | upper}} IN {{course_name | upper}}</b></center>
                    <br>
                    
                    <tr>
                        <th scope="col">College Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Web</th>
                        {% if current_user.is_authenticated%}
                        <th scope="col">Delete</th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    <tbody class="table-group-divider">
                        {% for college in colleges %}
                             <tr>
                                <td>{{ college.college_name }}</td>
                                <td>{{ college.college_address }}</td>
                                <td><a href="{{ college.college_web }}" onclick="window.open('{{ college.college_web }}', '_blank'); return false;">{{ college.college_web }}</a></td>
                                {% if current_user.is_authenticated%}
                                <td><a href="{{url_for('delete_college',id=college.college_id)}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                                {%endif%}
                            </tr>
                       
                        {% endfor %}
                        </tbody>
                        
                </tbody>
            </table>
            
            <form action="{{ url_for('add_more_clg',id=streams.stream_id) }}" method="POST">
                <div id="course_class">
                </div>
                <div id="inputFieldsContainer" class="d-inline-block"></div>
                <br>
                <div id="submitButtonContainer" class="d-inline-block"></div>
              </form>
{% if current_user.is_authenticated%}
<button type="button" class="btn btn-dark float-right mt-2" onClick="add_more_field()">Add more</button>
</div>

{%endif%}
{%else%}
<center>
    {% if current_user.is_authenticated%}
    <br><br><br>
    <br><br><br>
    <br><br><br>

    <button type="button" class="btn btn-dark">
    <a class="nav-link" href="{{url_for('add_clg',id=stream_id)}}">Add College</a>
    </button>

    {%else%}
<div class="col-8">
    <br>
    <br>
    <br>
    <img src="{{url_for('static',filename='images/unhappy.jpg')}}" width="300" align="center"></img>
  </div>
</center>
{%endif%}
{% endif%}  
<script>
    var counter = 1;
  
    function add_more_field() {
      counter += 0;
      var html = '<div class="row" id="row' + counter + '">\
        <div class="col-8">\
          <label>College '+counter+'</label>\
          <input type="text" class="form-control" name="college'+ counter +'">\
        </div>\
        <div class="col-8">\
          <label>Address '+counter+'</label>\
          <input type="text" class="form-control" name="address'+ counter +'">\
        </div>\
        <div class="col-8">\
          <label>Link '+counter+'</label>\
          <input type="text" class="form-control" name="link'+ counter +'">\
        </div>\
      </div><br>\
      <div class="separated-div" style="border-bottom: 1px solid #000;"></div>';
  
      var inputFieldsContainer = document.getElementById('inputFieldsContainer');
      var newField = document.createElement('div');
      newField.innerHTML = html;
      inputFieldsContainer.appendChild(newField);
  
      var submitButtonContainer = document.getElementById('submitButtonContainer');
      if (submitButtonContainer.childElementCount === 0) {
        var submitButton = document.createElement('button');
        submitButton.setAttribute('type', 'submit');
        submitButton.setAttribute('class', 'btn btn-primary');
        submitButton.innerHTML = 'Submit';
        submitButtonContainer.appendChild(submitButton);
      }
    }
  </script>
  
  
      
{%endblock%}