{% extends 'base.html' %}

{%block content%}
{% for message in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<h1 style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">All Listed courses</h1><br>
    
        {% if courses %}
    {% for course in courses%}
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
       <strong> {{ course.course_name}}</strong><br><br> 
        {{ course.course_title}}<br><br>
<a href="{{url_for('view_ind',id=course.course_id)}}" class="btn btn-outline-secondary btn-sm">View</a>
<a href="{{url_for('delete',id=course.course_id)}}" class="btn btn-outline-danger btn-sm">Delete</a>
</div>
        
        {%endfor%}
        {%endif%}
{%endblock%}