{% extends 'base.html' %}

{%block content%}
{% for message in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<h1>All Listed courses</h1><br>
    
        
    {% for course in courses%}
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
       <strong> {{ course.course_name}}</strong><br><br> 
        {{ course.content}}<br><br>
<a href="{{url_for('add_college',id=course.course_id)}}" class="btn btn-outline-secondary btn-sm">Click To Add College Details</a>
</div>
        
        {%endfor%}
{%endblock%}